@{
   ViewData["Title"] = "Devices";
}

<h1>Devices</h1>

<div class="row">
    <div>
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/deviceList.js"></script>