﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Live Project with SignalR</h1>
    <p>This code is an attempt at the Live Project for <a href="https://www.manning.com/liveproject/building-iot-applications-with-signalr?query=IoT%20SignalR">Building IoT Applications with IoT SignalR</a>, by <a href="https://www.manning.com/">manning.com</a>.</p>
</div>
